//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 11 14:23:29 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "clr" LOCATE = SITE "N17" LEVEL 1;
COMP "SO<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "SO<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "SO<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "SO<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "ALOAD" LOCATE = SITE "P17" LEVEL 1;
COMP "SO<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "SO<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "SO<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "SO<7>" LOCATE = SITE "U16" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "C1/q_0" BEL "C1/q_1" BEL "C1/q_2" BEL "C1/q_3" BEL
        "C1/q_4" BEL "C1/q_5" BEL "C1/q_6" BEL "C1/q_7" BEL "C1/q_8" BEL
        "C1/q_9" BEL "C1/q_10" BEL "C1/q_11" BEL "C1/q_12" BEL "C1/q_13" BEL
        "C1/q_14" BEL "C1/q_15" BEL "C1/q_16" BEL "C1/q_17" BEL "C1/q_18" BEL
        "C1/q_19" BEL "C1/q_20" BEL "C1/q_21" BEL "C1/q_22" BEL "C1/q_23" BEL
        "C1/q_24" BEL "C1/q_25" BEL "clk_BUFGP/BUFG";
SCHEMATIC END;

